div#media__manager .title {
  display: block;
  font-size: 2em;
  color: #adca73;
  background-color: #333;
  padding: 1em;
}
div#media__manager div.info,
div#media__manager div.success, {
  padding: 1em;
}
#media__left {
  width: 30%;
  float: left;
  background-color: #ccc;
  height: 100%;
}
#media__left #media__opts {
  margin: 1em;
}
#media__right {
  width: 70%;
  float: left;
}
#media__right .upload,
#media__right p {
  margin: 1em;
}
#media__right h1 { margin: 1em; }
/* --- Tree formatting --- */
#media__tree {
  padding: 0;
  margin: 1em;
}
#media__tree img {
  float:left;
  padding: 0.5em 0.3em 0 0;
}
#media__tree ul,
#media__tree li {
  list-style-type: none;
  list-style-image: none;
}

/* --- file list --- */
/*#media__content img.load { margin: 1em auto; }*/
#media__content #scroll__here {
  background-color: #fff;
}
#media__content .odd {
  background-color: __background_other__;
  padding: 1em;
}
#media__content .even { padding: 1em; }
#media__content a.mediafile { font-weight: bold; }
#media__content div.detail div.thumb {
/*  float: left;*/
  width: 130px;
/*  text-align: center;*/
  margin: 1em;
  border: 1px solid #ccc;
}
